.footer{
    padding-top: 2rem;
    height: 412px;
    width: 100%;
    background: linear-gradient(#6E07F3, #4b02aab4);
}

.logo{
    height: 100px;
}

.contenedor-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.network-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 47px;
    border-radius: 9999px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    color: white;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
}

.network-footer:hover{
    color: #6E07F3;
    background-color: white;
}