<nav class="navbar navbar-white navbar-expand-lg bg-white">
    <div class="container-fluid">
      <img src="assets/img/bryancometa-logo.png" class="icon">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <app-button title="Inicio" type="normal"></app-button>
        <app-button title="Contactame"></app-button>
        <!-- <div class="d-md-flex">
          <button type="button" class="btn btn-outline-success mx-3">Login</button>
          <button type="button" class="btn btn-outline-danger mx-3">Registro</button>
        </div> -->
      </div>
    </div>
  </nav>