<nav class="navbar navbar-white navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a href="/home">
        <img src="assets/img/logo-bryan-negro-removebg-preview.webp" class="icon" alt="logo bryan cometa">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <app-button title="Inicio" type="normal" [isLink]="true" urlLink="/inicio"></app-button>
        <app-button class="d-block d-lg-none" title="Contactame" type="normal" [isLink]="true" urlLink="/contacto"></app-button>
        <app-button class="d-none d-lg-block" title="Contactame" [isLink]="true" urlLink="/contacto"></app-button>
      </div>
    </div>
  </nav>