
<!-- Formulario de contacto -->
<section class="mt-2 mt-lg-5">
    <div class="d-flex justify-content-center">
        <div class="form-contacto">
            <h2 class="titleSmall">Gracias por tomarse el tiempo de ver mi página. ¿En qué proyectos podemos trabajar?</h2>
        </div>
    </div>
    <div class="container form-contacto">

        <form class="row mt-4" [formGroup]="form">
            <div class="form-group col-12 col-md-6">
                <label class="text-section-card" for="txtNombre">Nombre</label>
                <input type="text" class="form-control estilo-form estilo-input" [class.is-invalid]="nameValid" formControlName="name" aria-describedby="helpId" placeholder="">
                <small class="text-danger" *ngIf="form.value.name.length < 5">Debe tener al menos 5 letras</small>
                <small class="text-danger" *ngIf="nameValid"> Nombre Invalido</small>
              </div>
            <div class="form-group col-12 col-md-6 mt-4 mt-lg-0">
                <label class="text-section-card" for="txtEmail">Email</label>
                <input type="text" class="form-control estilo-form estilo-input" [class.is-invalid]="emailValid" formControlName="email" aria-describedby="helpId" placeholder="">
                <small class="text-danger" *ngIf="emailValid">Correo Invalido</small>
            </div>

            <div class="form-group col-12 mt-4">
                <label class="text-section-card" for="txtMensaje">Mensaje</label>
                <textarea class="form-control estilo-form" [class.is-invalid]="descriptionValid" formControlName="description" cols="30" rows="10"></textarea>
                <small class="text-danger" *ngIf="descriptionValid">Descripción Invalida</small>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <app-button title="Enviar Información" (outputClick)="saveContact()"></app-button>
            </div>
        </form>
    </div>
</section>

